pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*~
work/*
!work/.gitkeep
resources/public/js/imagizer.js
bin/
.classpath
.project
db/*
!db/.gitkeep
.#*
\#*#
