/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #1B2442;
}

a {
	text-decoration: none;
}

.nav {
	background-color: #5E7FE8;
	color: #EEEEEE;
	padding: 0.5em;
	font-size: 1.5em;
	height: 2.5em;
	padding-left: 2em;
}

.nav a {
	color: #EEEEEE;
}

.nav * {
	vertical-align: middle;
}

.nav img {
	height: 1.5em;
	margin-right: 0.5em;
}

.nav-content, .content {
	margin: 0 auto;
	max-width: 1200px;
}

.content {
	padding: 2em;
}

h1 {
	font-size: 2em;
}

p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

button, input[type=submit] {
	background-color: #5E7FE8;
	border: none;
	padding: 0.3em 0.5em 0.3em 0.5em;
	font-size: 1em;
	color: #EEEEEE;
	font-family: 'Montserrat', sans-serif;
}

button:hover, input[type=submit]:hover {
	background-color: #678CFF;
	color: #1B2442;
}

input[type=text] {
	padding: 0.3em 0.5em 0.3em 0.5em;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	border-color: #CCCCCC;
	border-style: solid;
	width: 100%;
}

input[type=submit]:hover {
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.result {
	display: inline-block;
	margin: 0.2em;
	height: 8em;
}

.result img {
	height: 100%;
}


.image-preview img {
	max-width: 100%;
	margin-bottom: 1em;
}
	
@media screen and (min-width: 600px) {
	.image-preview img {
		max-width: 48%;
	}
	
	.image-preview img.original {
		margin-right: 4%;
	}
}

.filter-result img {
	max-width: 100%;
	margin-bottom: 1em;
}

.filter-options {
	display: flex;
}

.filter-option {
	flex-grow: 1;
	display: inline-block;
	width: 15em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.tags li {
	display: inline-block;
	background-color: #5E7FE8;
	padding: 0.3em 0.5em 0.3em 0.5em;
	margin-right: 0.5em;
	color: white; 
}

.tags li a {
	color: white;
}

.tags li:hover {
	background-color: #678CFF;
}

.tags li a:hover {
	color: #1B2442;
}


